<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>请各位家长注意，学校决定1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请各位家长注意，学校决定2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请各位家长注意，学校决定3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请各位家长注意，学校决定4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>请各位家长注意，学校决定5</string>
	</dict>
</array>
</plist>
